# Node modules
node_modules/

# Angular build output
dist/
out-tsc/

# IDEs and Editors
.idea/
.vscode/
.project
.settings/
.classpath
.npm/

# Log files
npm-debug.log
yarn-error.log

# Temporary files
.tmp/

# Operating System files
.DS_Store
Thumbs.db

# Environment files
.env

# Test output
coverage/

# Angular specific
