<div class="">
  <h1 class="text2 head"><span class="text-primary">SIAT</span> - <span class="text-warning">NIC</span></h1>


  <div class="container" *ngIf="search">
    <p class="text2">Encuentra tu aula de votación 😉🗳</p>
    <div class="row  justify-content-center">
      <div class="col-md-6 col-lg-4 ">
        <div class="d-flex flex-column align-items-center">
          <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Ingresa tu apellido">
          <button type="button" (click)="seeClassRoom()" class="btn btn-primary text mt-2"> BUSCAR <i
              class="bi bi-search"></i></button>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center align-items-center">
      <img class="mt-3 img-fluid" src="assets/img/primero.jpg" alt="logo" width="700">
    </div>
  </div>

  <div class="container" *ngIf="!search">
    <h2 class="text2">AULA DE VOTACIÓN</h2>
    <h1 class="text3">{{results?.classRoom}}</h1>
    <h3 class="text3">Mesa : {{results?.tableNum}}</h3>


    <p class="text1"> {{lastName}} pertenece al rango: {{results?.initA}} {{results?.initB}} - {{results?.endA}}
      {{results?.endB}} </p>
    <div class="row  justify-content-center">
      <div class="col-md-6 col-lg-4 ">
        <div class="d-flex flex-column align-items-center">

          <button type="button" (click)="clean()" class="btn btn-primary text mt-2"> BUSCAR NUEVAMENTE <i
              class="bi bi-search"></i></button>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center align-items-center">
      <img class="mt-3 img-fluid" src="assets/img/segundo.jpg" alt="logo" width="700">
    </div>
  </div>
</div>
